<app-clientheader></app-clientheader>


<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="./assets/clients/assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h2><em>Zaun</em> Garage</h2>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div id='tabs'>

          <section class='tabs-content'>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/choose-us-image-01.png" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Best Education</h4>
                  <p>Grad School is free educational HTML template with Bootstrap 4.5.2 CSS layout. Feel free to use it for educational or commercial purposes. You may want to make <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a little donation</a> to TemplateMo. Please tell your friends about us. Thank you.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/choose-us-image-02.png" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Top Level</h4>
                  <p>You can modify this HTML layout by editing contents and adding more pages as you needed. Since this template has options to add dropdown menus, you can put many HTML pages.</p>
                  <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/choose-us-image-03.png" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Quality Meeting</h4>
                  <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. For more information, you shall <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> now.</p>
                </div>
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section courses" data-section="section4">
  <div class="row">
    <div class="col-md-12 item" style="align-items: center;">
      <div class="down-content" >
        <h4>Digital Marketing</h4>
        <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>
        <div class="author-image">
          <img src="./assets/clients/assets/images/author-01.png" alt="Author 1">
        </div>
        <div class="text-button-pay">
          <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
