<app-clientheader></app-clientheader>


<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="./assets/clients/assets/images/course-video.mp4" type="video/mp4" />
    </video>
    <!-- <img src="./assets/clients/assets/images/garage.jpg" alt="" srcset=""> -->

    <div class="video-overlay header-text">
        <div class="caption">
            <h2><em>Zaun</em> Garage</h2>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div id='tabs'>

          <section class='tabs-content'>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/client.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>La relation de nos garagistes avec vous</h4>
                  <p>Nous comprenons l'importance de la confiance dans notre relation avec nos clients, c'est pourquoi nous fournissons un devis détaillé pour chaque réparation et offrons une garantie sur notre travail. Nous sommes également ouverts à la communication avec nos clients pour les aider à comprendre les options de réparation et les coûts associés.</p>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/reparation.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Notre compétence</h4>
                  <p>En tant que garagistes, nous sommes déterminés à offrir un service de réparation automobile de qualité supérieure à notre clientèle. Nous sommes formés et certifiés pour effectuer des réparations sur tout type de véhicules, et nous utilisons les derniers équipements et techniques pour assurer l'efficacité et la précision de notre travail.</p>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/clients/assets/images/service.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Nos services</h4>
                  <p>En travaillant ensemble, nous sommes convaincus que nous pouvons offrir un service de qualité supérieure qui répondra à tous les besoins de nos clients en matière de réparation automobile. Nous sommes déterminés à construire des relations durables avec nos clients en leur fournissant un service fiable et de qualité à un coût raisonnable.</p>
                </div>
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
