<nav class="sidebar sidebar-offcanvas rounded my-1 pt-1" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="respAccueil">
        <i class="ti-dashboard menu-icon font-weight-bold text-white"></i>
        <span class="menu-title text-white">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="respEnregistrementDepot">
        <i class="ti-plus menu-icon font-weight-bold text-white"></i>
        <span class="menu-title text-white">Déposer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="respListeDepot">
        <i class="ti-car menu-icon font-weight-bold text-white"></i>
        <span class="menu-title text-white">Véhicules déposés</span>
      </a>
    </li>
  </ul>
</nav>
