<app-responsbleheader></app-responsbleheader>
<body>
  <div class="container-scroller">
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-resp-side-bar></app-resp-side-bar>
      <!-- partial -->
      <div class="main-panel">

        <div class="content-wrapper">
          <h1>Voir les historiques de ces voitures.</h1>
          <div class="row">

            <div *ngFor="let liste of listeVoiture">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <a href="historiqueReparation/voiture/{{ liste._id }}"><button type="button" class="btn btn-info">{{ liste.plaque }}</button></a>
                  </div>
              </div>
              </div>

            </div>



          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</body>
