 <!--header-->
 <header class="main-header clearfix" role="header">
  <div class="logo">
    <a href="#"><em>Zaun</em> Garage</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      <li><a href="clientAccueil">Home</a></li>
      <li *ngIf="idClient"><a href="clientHistorique">Historique</a></li>
      <li *ngIf="idClient"><a href="" (click)="logout()" >Déconnection</a></li>
      <li *ngIf="!idClient"><a href="clientLogin">Connection</a></li>
    </ul>
  </nav>
</header>
